.back-groud{
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #E3F2FD;
}


.card{
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: row;
    margin: auto;
    width: 780px;
    height: 450px;

    background: #BBDEFB;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.image-login{
    padding: 2em;
    width: 50%;
    flex-direction: column;
    display: flex;
    align-items: initial;
    justify-content: center;
}

.image-login img{
    width: 400px;
    /* transform: scale(1.8); */
}

.login-fields{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 343px;
    height: 450px;
    background: #FFFFFF;
}

.login-fields h2 {
    color: #3f3f3f;
}


.input{
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.label-input-field{
    color: #3f3f3f;
    flex: 0;
    text-align: start;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-login{
    width: 250px;
    height: 40px;
    padding: 5px;

    background: #FFFFFF;
    border: 1px solid #707070;
    box-sizing: border-box;
    border-radius: 5px;
}


.button-confirm{
    width: 35px;
    height: 14px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    width: 250px;
    height: 40px;
    background: #43A047;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.recovery-links{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin: 0.5em 0;
    text-align: center;
    color: #414DBC;
}

